services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'
 
    App\Service\AuthenticationServiceInterface: '@App\Service\AuthenticationService'

    App\Security\LoginSuccessHandler:
        public: true

    App\Security\LoginFailureHandler:
        public: true

