services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'
 
    App\Service\AuthenticationServiceInterface: '@App\Service\AuthenticationService'

    # Handler Papertrail - Version explicite
    App\Monolog\PapertrailHandler:
        class: App\Monolog\PapertrailHandler
        arguments:
            $url: '%env(PAPERTRAIL_URL)%'
            $token: '%env(PAPERTRAIL_TOKEN)%'
            $level: !php/const Monolog\Level::Debug
        tags:
            - { name: monolog.handler, channel: papertrail, alias: papertrail }

    App\Controller\MessageController:
        arguments:
            $papertrailLogger: '@monolog.logger.papertrail'