services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'
 
    App\Service\AuthenticationServiceInterface: '@App\Service\AuthenticationService'


    App\Service\PapertrailLogger:
        arguments:
            $httpClient: '@http_client'
            $url: '%env(PAPERTRAIL_URL)%'
            $token: '%env(PAPERTRAIL_TOKEN)%'