services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'
 
    App\Service\AuthenticationServiceInterface: '@App\Service\AuthenticationService'

    App\Service\PapertrailService:
        arguments:
            $url: '%env(PAPERTRAIL_URL)%'
            $token: '%env(PAPERTRAIL_TOKEN)%'